body {
    margin: 0;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    font-family: 'Gotham-medium', Arial, sans-serif;
    font-display: swap;
    user-select: none;
}
.visible {
  display: inline-block;
}
.hidden {
  display: none;
}
#container {
    margin: 3em;
}
.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
h1 {
    color: #eee;
    font-weight: 100;
    font-size: 15vmin;
    padding-top: 6vmin;
    transition: 0.5s ease;
}
#umbrella-button {
    border: none;
    background: none;
    margin-top: 3vmin;
    outline: none;
    cursor: pointer;
}
#umbrella-logo {
    width: 22vmin;
    transition: transform 1.5s;
}
.rotate {
    transform: rotate(-30deg);
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@font-face {
    font-family: 'Gotham-medium';
    src: url('../fonts/gotham-medium.woff2') format('woff2');
    font-display: swap;
}
