body {
  margin: 0;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-family: "Gotham-medium", Arial, sans-serif;
  user-select: none;
}

@font-face {
  font-family: "Gotham-medium";
  src: url("../fonts/gotham-medium.woff2") format("woff2");
  font-display: swap;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

#container {
  margin: 3em;
}

.rain-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  flex-direction: column;
}

h1 {
  color: #eee;
  font-weight: 100;
  font-size: 15vmin;
  transition: 0.5s ease;
  margin: 0.5em 0 0;
}

#umbrella-button {
  border: none;
  background: none;
  margin-top: 3vmin;
  outline: none;
  cursor: pointer;
}

#umbrella-logo {
  width: 22vmin;
  transition: transform 1s;
}

.rotate {
  transform: rotate(-30deg);
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.audio-select {
  height: 10vw;
  width: 10vw;
  text-align: center;
  font-size: 4vmin;
  transition: 0.3s;
  transform: scaleY(0);
  background: linear-gradient(0deg, #857171, transparent);
}

.audio-select-visible {
  transform: scaleY(1);
}

.audio-toggle-container {
  display: flex;
  flex-flow: column;
  margin-top: 3em;
  align-items: center;
}

#btn-audio-toggle {
  border: none;
  background: none;
  font-size: 8vmin;
  color: #dedede;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 0.5em;
}

.audio-toggle-open {
  transform: rotate(45deg);
}
